.footer_outer_container {
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
}
.footer_inner_container {
    width: 60%;
    font-family:  Sans, Helvetica Neue, sans-serif;
}
.footer_icons {
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;
    margin-bottom: 1rem;
    cursor: pointer;
}
.footer_data {
    display: flex;
    justify-content: space-between;
}
.footer_data ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}
.footer_data ul li {
    cursor: pointer;
    margin: 10px;
}
.footer_data ul :hover {
    text-decoration: underline;
}
.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 15%;
    margin-top: 40px;
    cursor: pointer;
}

.service_code :hover {
    color: white;
    opacity: 0.9;
}
.copy_right {
    font-size: 12px;
    margin-top: 10px;
    padding-top: 0;
}